table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  vertical-align: middle;
  word-wrap: break-word;
}

td button {
  margin: 5px;
}

td button i {
  font-size: 20px;
}

@media (max-width: 768px) {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table tr td {
    vertical-align: middle;
    word-wrap: break-word;
  }
  
  td button {
    margin: 5px;
  }
  
  td button i {
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    table {
      border: 1px solid #ddd;
    }
  
    table tr td {
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
}